@import "normalize.css";
/*Ландшафтная телефоны*/
@media (max-width: 480px) {
.input-group{
    max-width: 200px;
}
}

/*От ландшафтная телефоны, до потретной наладонники*/
@media (max-width: 767px) {
}

/*От портретная наладонники до ландшафтной и настольных дисплеев*/
@media (min-width: 768px) and (max-width: 979px) {
}

/*Большой дисплей*/
@media (min-width: 1200px) {
}

.my-logo {
    width: 60px;
}

.my-left-marging {
    margin-left: 20px;
}

.my-right-aling {
    float: right;
}

.my-white {
    background:#fff3cd;
}
.round {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
    place-content: center;
    align-content: center;
    justify-content: center;
}
/*shoping-basket*/
.fa-btc {
    font-size: 50px;
    color: #f1f1f1;
}

.icon {
    display: inline-block;
}

.null span {
    color: #f1f1f1;
    background-color: red;
    padding: 0 8px;
    border-radius: 50px;
    box-shadow: 0 0 0 2px #fff;
}

.wrapper {
    position: relative;
    display: inline-block;
}

.null {
    position: absolute;
    right: 0;
    top: 0;
}
/*end shoping-basket*/